.heroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh);
  width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 8rem;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.sectionIllustration { width: 40rem; }
.illustrationSmall { width: 24rem; }
.heroIllustration { width: 52rem; }

.heroIllustrationPlane {
  width: 20rem;
  position: absolute;
  bottom: 14rem;
  left: 28rem;
  z-index: 1;
}

.heroTitle {
  font-size: 5.2rem;
  font-weight: 500;
  text-align: left;
  color: var(--color-black);
  margin-bottom: 1.6rem;
}

.heroSubtitle {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: left;
  color: var(--color-gray);
  margin-bottom: 4rem;
}

.sectionLeftAligned,
.sectionRightAligned {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 20rem;
}

.sectionRightAligned { flex-direction: row-reverse; }
.sectionRightAligned .sectionText { text-align: right; }

.colorBlue   { color: var(--color-blue); }
.colorPink   { color: var(--color-pink); }
.colorOrange { color: var(--color-orange); }
.colorGreen  { color: var(--color-green); }

.sectionBlue   .sectionHeader span { color: var(--color-blue); }
.sectionPink   .sectionHeader span { color: var(--color-pink); }
.sectionOrange .sectionHeader span { color: var(--color-orange); }
.sectionGreen  .sectionHeader span { color: var(--color-green); }

.sectionText  { width: 50%; }
.sectionImage { width: 50%; }
.sectionIcon  { width: 4rem; }


.sectionHeader {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 0.8rem;
}

.sectionInfo {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 2.4rem;
  font-weight: 500;
  color: var(--color-gray);
}

.sectionFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3.2rem;
}

.sectionRightAligned .sectionFooter {
  justify-content: flex-end;
}

.sectionLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.buttonArrow {
  width: 3.2rem;
  margin-left: 1.6rem;
}



/* -------------------------------------------------------------------------- */
.sectionServices {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1382px;
  padding: 8.8rem;
  border-radius: 4rem;
  /* background-color: rgba(236, 238, 241, 0.4); */
  text-align: center;
}

.serviceHeader {
  font-size: 4.8rem;
  font-weight: 500;
}

.serviceInfo {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 1.6rem;
  font-weight: 500;
  color: var(--color-gray);
}

.services {
  margin-top: 8.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 3.2rem;
  justify-content: center;
}


/* -------------------------------------------------------------------------- */
.getInTouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getInTouchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.getInTouchInput input {
  width: 40rem;
  margin-right: 1.6rem;
}


/* -------------------------------------------------------------------------- */

.getStarted {
  /* max-width: 110rem; */
  padding: 0 16rem;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "text image"
    "input image";
}

.getStarted .header {
  grid-area: text;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  align-self: end;
}

.getStarted .input {
  grid-area: input;
  align-self: start;
}

.getStarted .illustration {
  grid-area: image;
  width: 50rem;
  justify-self: end;
}

.getStarted .input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.getStarted input {
  width: 40rem;
  margin-right: 1.6rem;
}