
.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: var(--nav-height);
  margin: 0 auto;
  max-width: 1920px;
  font-size: 1.6rem;
  padding: 0 4rem;
  position: relative;
  z-index: 2;
}

.logo {
  margin: 0 auto;
  position: relative;
}

.logoImage {
  font-weight: 800;
  font-size: 2.8rem;
  position: relative;
  color: var(--color-black);
  z-index: 2;
}

.logoScratch {
  position: absolute;
  top: -2.6rem;
  left: -2rem;
  width: 12rem;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.menu a {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}

.menu a:not(:last-child) {
  margin-right: 3.2rem
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.menuDropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10rem);
  transition: all 0.24s ease-in-out;
}

.menuOpen {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}